/* Trying to increase the height of the img to fill in the space. */
/* body, html {
    height: 100%;
    margin: 0;
} */

/* Trying to increase the height of the img to fill in the space. */
/* main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* Trying to increase the height of the img to fill in the space. */
main img {
    max-height: 100%;
    height: auto;
    width: auto;
}

main img {
    cursor: pointer;
    height: 350px;
}

body {
    background-image: url(https://images.unsplash.com/photo-1610296669228-602fa827fc1f?q=80&w=1975&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    min-height: 100dvh;
}

p {
    font-family: "Jersey 10", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1, h2 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}

/* Updating titles inside of the cards */
.card h2 {
    color: black;
}

.custom-card {
    background-color: #ffcc00;
    color: #000;
}

.number-box {
    display: inline-block;
    padding: 2px 5px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #ffeea9;
    font-weight: bold;
}